.mat-card-image {
  width: calc(10% + 32px) !important;
  margin: 0;
  float: right;
}


.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card-content > p {
  clear: both;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
button {
margin-top: 20px;
margin-left: 20px;
}
