<mat-card>
  <mat-card-content>
    <h3>Billing Info</h3>
    <form class="example-form" [formGroup]="billingForm">
      <mat-form-field class="example-full-width">
        <mat-label>Your name</mat-label>
        <input matInput placeholder="" type="name" formControlName="name">
        <mat-error>Enter valid name</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your email</mat-label>
        <input matInput placeholder="" value="" type="email" formControlName="email">
        <mat-error>Enter valid emial id</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your phone number</mat-label>
        <input matInput placeholder="" value=""  type="phone" formControlName="phone">
        <mat-error>Enter valid phone number</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your address</mat-label>
        <textarea matInput placeholder=""  type="address" formControlName="address" rows="3"></textarea>
        <mat-error>Enter valid address</mat-error>
      </mat-form-field>
      <button
            class="addtocard-btn book-btn"
            type="submit"
            mat-raised-button
            [disabled]="billingForm.invalid"
            (click)="onSubmit()">
            Submit
        </button>
    </form>
  </mat-card-content>
</mat-card>

