<div>
  <mat-card *ngFor="let books of cartBooks$ | async">
    <mat-card-header>
      <mat-card-title>{{books.volumeInfo.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{books.volumeInfo.imageLinks?.smallThumbnail}}">
    <mat-card-content>
      <p>
        {{books.volumeInfo.description}}
      </p>
      <p>Written By: </p>
      <p>{{books.volumeInfo.publisher}}<i class="material-icons" (click)='removeFromCart(books.id)'>remove_shopping_cart</i></p>
      <!-- <span><i class="material-icons" color="red">remove_shopping_cart</i></span> -->
    </mat-card-content>
  </mat-card>
  <button mat-flat-button color="accent" (click)="goToBillingPage()">Proceed to buy</button>
</div>


